/*Card back image*/
.card-back {
    background-image: url(/images/red2.jpg);
    background-size: cover;
    background-position: center;
}
/*Card Shape and sizes */
.card {    
    position:absolute;
    height: 350px;
    width :250px;
    border:2px solid black;
    border-radius: 12.3px;
    background-color: white;  
     }
.card-display {    
    position:absolute;
    height: 190px;
    width: 125px;
    border:2px solid black;
    border-radius: 12.3px;
    background-color: white;  
}
.card-display-side {
    position:absolute;
    height: 150px;
    width :75px;
    border:2px solid black;
    border-radius: 12.3px;
    background-color: white; 
    
}
.card-display-r {
    
    position:absolute;
    height: 150px;
    width :75px;
    border:2px solid black;
    border-radius: 12.3px;
    background-color: white; 

}
/* Card values, colors and suits layout*/
.value-wrapper {
    position:absolute;
    top:2px;
    left:5px;    
}
.value {
transform: scale(.7,.7);
} 
.suit-side {
    position: absolute;
    top:25px;
    transform: scale(.7,.7);
}
.center-suit{
    transform: scale(3,3);
    position:absolute;
    top:70px;
    left:40px;
}        
.red {
    color:red;
}
.black {
    color: black;
}


.lower-value-wrapper{
    position:absolute;
    transform:rotate(180deg);
    bottom:1px;
    right:5px;
        
}
/* Player Card Rotations, z-indexs and positions */
/*Player one*/
.crd1 {
    transform: rotate(350deg);
    position: absolute;
    z-index: 1;
    top:25px;
    left:40px;
   
}
.crd2 {
    transform: rotate(355deg);
    position: absolute;
    z-index: 2;
    top:20px;
    left: 80px;
}
.crd3 {
    transform: rotate(357deg);
    position: absolute;
    z-index: 3;
    top:15px;
    left: 120px;
}
.crd4 {
    transform: rotate(2deg);
    position: absolute;
    z-index: 4;
    top:15px;
    left: 160px;
}
.crd5 {
    transform: rotate(5deg);
    position: absolute;
    z-index: 5;
    top:20px;
    left: 200px;
}
.crd6 {
    transform: rotate(10deg);
    position: absolute;
    z-index: 6;
    top:25px;
    left: 240px;
}
/*Player Two*/
.p2crd1 {
    transform: rotate(80deg);
    position: absolute;
    z-index: 1;
    top:60px;
    left: 40px;

}
.p2crd2 {
    transform: rotate(85deg);
    position: absolute;
    z-index: 2;
    top:80px;
    left: 42px;

}
.p2crd3 {
    transform: rotate(89deg);
    position: absolute;
    z-index: 3;
    top:100px;
    left: 44px;

}
.p2crd4 {
    transform: rotate(91deg);
    position: absolute;
    z-index: 4;
    top:120px;
    left: 44px;

}
.p2crd5 {
    transform: rotate(95deg);
    position: absolute;
    z-index: 5;
    top:140px;
    left: 42px;

}
.p2crd6 {
    transform: rotate(100deg);
    position: absolute;
    z-index: 6;
    top:160px;
    left: 40px;

}

/*Player Three*/
.p3crd1 {
    transform:rotate(260deg);
    position: absolute;
    z-index: 1;
    top:150px;
    right: 50px;
}
.p3crd2 {
    transform:rotate(265deg);
    position: absolute;
    z-index: 2;
    top:130px;
    right: 52px;
}
.p3crd3 {
    transform:rotate(269deg);
    position: absolute;
    z-index: 3;
    top:110px;
    right: 54px;
}
.p3crd4 {
    transform:rotate(271deg);
    position: absolute;
    z-index: 4;
    top:90px;
    right: 54px;
}
.p3crd5 {
    transform:rotate(275deg);
    position: absolute;
    z-index: 5;
    top:70px;
    right: 52px;
}
.p3crd6 {
    transform:rotate(280deg);
    position: absolute;
    z-index: 6;
    top:50px;
    right: 50px;
}

/*Player Four*/
.p4crd1 {
    transform:rotate(190deg);
    position: absolute;
    z-index: 1;
    top:20px;
    left: 30px;
}
.p4crd2 {
    transform:rotate(187deg);
    position: absolute;
    z-index: 2;
    top:22px;
    left: 60px;
}
.p4crd3 {
    transform:rotate(185deg);
    position: absolute;
    z-index: 3;
    top:24px;
    left:90px;
}
.p4crd4 {
    transform:rotate(180deg);
    position: absolute;
    z-index: 4;
    top:24px;
    left: 120px;
}
.p4crd5 {
    transform:rotate(177deg);
    position: absolute;
    z-index: 5;
    top:22px;
    left: 150px;
}
.p4crd6 {
    transform:rotate(173deg);
    position: absolute;
    z-index: 6;
    top:20px;
    left: 180px;
}




